<h1 mat-dialog-title [ngStyle]="{ color: data.hasError ? 'red' : 'blue' }">
  <span>{{ data.headerMsg }}</span>
</h1>
<div mat-dialog-content>{{ data.msg }}</div>
<div mat-dialog-actions align="center">
  <div *ngIf="!data.confirmDialog">
    <button
      mat-raised-button
      mat-dialog-close
      [color]="data.hasError ? 'warn' : 'accent'"
    >
      Close
    </button>
  </div>

  <div *ngIf="data.confirmDialog">
    <button mat-raised-button mat-dialog-close (click)="cancel()">
      Cancelar
    </button>
    <button
      mat-raised-button
      mat-dialog-close
      color="warn"
      [mat-dialog-close]="data.confirmDialog"
    >
      Sim
    </button>
  </div>
</div>
