.loading mat-spinner {
  margin: 1rem auto;
}

mat-card {
  margin-top: 1rem;
}

.form {
  padding-top: 0.5rem;
}

.form .form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10rem;
}

.form .form-group mat-form-field {
  width: 100%;
  min-width: 0;
}

mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1rem;
  margin-top: -1rem;
}

.container.code {
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 425px) {
  .form .form-group {
    flex-direction: column;
  }

  mat-card-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    row-gap: 0.5rem;
  }
}
